# apps environments
.9/
.G/
.1/

.vscode/

# apps packages
app_core/
Rhymes/
Sentiment/
Stresses/
Z-BAT/
catalog/
crawlers/
credentials/
cuomputer/
databases/
demolisher/
demos/
discord_bot/
discord_prompts/
dropbox/
ffmpeg/
goodreads/
gspreader/
kyoko/
leo/
lyricleaner/
ma/
mp3tagger/
# new_albums/
newmusic/
pyexiftool/
pyfy-master/
riverscuomo_com_flask_server/
riverscuomo_com_postgres/
rivertils/
# social/
spotify-flask/
spotifyplaylistsorter/
spotnik/
test_flask_firestore/
titles/
tweetcleaner/
tweetdelete/
ultimateplaylist/
webserver/
z-previous/

kyoko_copy/
maintenance_config_copy.py
pool_copy.py

# apps modules
anki.mp3
ankiaudiofilename.py
ankiDownloadGoogleTranslate.py
ankilanguage.py
ankimove.py
ankispeak-testDELETE-OK.mp3
ankispeak.py
anki_media_clean.py
answer.mp3
asanatask.py
AWSCLIV2.msi
bandsweplaywith.py
beeper.py
calshift.py
chromedriver.exe
cleaner.py
colors.py
contacts.py
convert.py
coordinates.py
debug.log
desktop.ini
getGoogleDocText.py
gmailScripts.py
hello.py
iaqualink.log
info.dat
itb.py
jwtstuff.py
kyoko_videos.py
lastfm.py
lookup.py
lookupGSPREAD.py
lookups.py
lyricsmanager.py
lyrictransfer.py
# maintenance.py
# maintenancetest.py
# maintenance_config.py
maintenance_log.txt
message.txt
mp3Convert.py
network.py
networkFilter.py
ocr.py
package-lock.json
photodate.py
Pipfile
# pool.py
py
quote_source_lyric_reference.py
rctweetcleaner-3d2160633739.json
# README.md
rejectcleaner.pyw
rejects.txt
requirements.txt
requirementsOld.txt
save_filenames_to_txt.py
setlistfm.py
somfyMagic.py
# songdata.py
songpopularity.py
spotifytest.py
sweetThings.txt
szns.py
temp.txt
test.py
test.wav
test._file
textcleaner.py
token.json
tokenCALENDARSHIFT.json
truncate_silence.py
tweetdelete.py
tweetScrape.py
tweet_dumper.py
twitterfriends.py
used_photo_list.txt
weezle.py
wme.py
wmepdf.py
word_list_weezer.txt
yourip.py
youtube.py

# Standard Python .gitignore

# Spotipys token cache file
.cache-*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that dont work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
