[submodule "new_albums"]
	path = new_albums
	url = https://github.com/riverscuomo/new-albums.git
[submodule "social"]
	path = social
	url = https://github.com/riverscuomo/social.git
[submodule "crawlers"]
	path = crawlers
	url = https://github.com/riverscuomo/crawlers.git
